* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content auto;
}

header {
    padding: 10px;
    background-color: #333333;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 2.7rem;
    font-weight: bold;
    color: rgb(231, 231, 225);
}

.logo {
    width: 8%;
}


.mainContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/******** projects List*********/

.projectsList {
    background-color: #dddddd;
    position: sticky;
    top: 85.344px;
    display: flex;
    flex-direction: column;
}

.defaultProjects,
.userProjects {
    padding: 2em 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userProjects h1 {
    margin-bottom: .8em;
}

.currentProjects {
    width: 100%;
}

.projectBtn,
.addTaskBtn {
    margin: 5px;
    padding: 10px 20px;
    width: 90%;
    background-color: #dddddd;
    border: none;
    font-size: 1em;
    border-radius: 8px;
    text-align: start;
}

.projectBtn:hover,
.addTaskBtn:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, .5);
}

.projectBtn.active {
    background-color: rgb(180, 180, 180);
}

.projectBtn i {
    margin-right: 4px;
}

/************ Tasks pages *************/

.tasksContainer {
    padding: 2em;
}

.addTaskBtn {
    background-color: white;
}

form {
    display: none;
}

form input,
form button {
    padding: 5px;
    border-radius: 5px;
}

form button:hover {
    cursor: pointer;
}

.card {
    padding: 10px;
    border-radius: 8px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
}

.card p:first-child {
    font-size: 1.5rem;
    color: #195abd;
}

.card>p {
    margin-left: 15px;
}

.card .removeBtn {
    position: absolute;
    top: 15px;
    left: 2px;
    cursor: pointer;
    appearance: none;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    background-color: rgb(255, 255, 255);
    border: .1px solid black;
    border-radius: 50%;
}

/************* User Projects ************/

#projectForm {
    text-align: center;
}

#projectForm input {
    width: 80%;
}


.projectBtn {
    position: relative;
}

.userProjects .removeBtn {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}